<div class="form-container">
    <!-- <h2>Add Warehouse</h2> -->
    <h2>{{ editMode ? 'Edit Warehouse' : 'Add Warehouse' }}</h2>
  
    <form (ngSubmit)="addWarehouse()">
      <div>
        <label for="warehouseName">Warehouse Name:</label>
        <input type="text" id="warehouseName" [(ngModel)]="warehouseName" name="warehouseName" required>
      </div>
      <div>
        <label for="city">City:</label>
        <select id="city" [(ngModel)]="warehouseCity" name="city">
          <option *ngFor="let city of citys" [ngValue]="city">{{ city.cityName }}</option>
        </select>
      </div>
      <div>
        <label for="state">State:</label>
        <select id="state" [(ngModel)]="warehouseState" name="state">
          <option *ngFor="let state of states" [ngValue]="state">{{ state.stateName }}</option>
        </select>
      </div>
      <div *ngIf="editMode">
        <label for="status">Status:</label>
        <select id="status" [(ngModel)]="status" name="status">
          <option value="Active">Active</option>
          <option value="Inactive">Inactive</option>
        </select>
      </div>
      <div>
        <button type="submit">Save</button>
        <button type="button" (click)="router.navigate(['/dashboard/warehouse'])">Cancel</button>
      </div>
    </form>
  </div>
