<div class="warehouse-container">
  <div class="header">
    <div class="logo">
      Warehouse
    </div>
    <input type="text" placeholder="Search..." class="search-box" />
    <button class="add-warehouse-button" (click)="router.navigate(['/dashboard/addwarehouse'])">Add Warehouse</button>
  </div>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Warehouse Name</th>
        <th>City</th>
        <th>State</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let warehouse of warehouses; let i = index" [ngStyle]="{'background-color': i % 2 === 0 ? '#F2F2F2' : '#FFFFFF'}">
        <td>{{ warehouse?.id }}</td>
        <td>{{ warehouse?.warehouseName }}</td>
        <td>{{ warehouse?.warehouseCity?.cityName }}</td>
        <td>{{ warehouse?.warehouseState?.stateName }}</td>
        <td [ngStyle]="{'color': warehouse.status === 'Active' ? 'green' : 'red'}">{{ warehouse?.status }}</td>
        <td>
          <button class="edit-button" (click)="editWarehouse(warehouse.id)">Edit</button>
          <button class="delete-button" (click)="deleteWarehouse(i)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
