<div class="login-container">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div>
        <label for="username">Email</label>
        <input type="text" id="username" placeholder="Username" formControlName="username" required>
      </div>
  
      <div>
        <label for="password">Password</label>
        <input type="password" id="password" placeholder="Password" formControlName="password" required>
      </div>
  
      <p *ngIf="error" class="error">
        {{ error }}
      </p>
  
      <div class="button">
        <button type="submit">Login</button>
        <a href="#" (click)="openForgotPassword()" class="forgot-password-link">Forgot Password?</a> <!-- Change button to link -->
      </div>
    </form>
  
    <!-- Forgot Password Modal -->
    <div *ngIf="showForgotPasswordModal" class="modal">
      <h2>Reset Password</h2>
      <p>Please enter your email:</p>
      <input type="email" [(ngModel)]="email" placeholder="Email" />
      <div>
        <button (click)="resetPassword()">Reset Password</button>
        <a href="#" (click)="showForgotPasswordModal = false">Back to Login</a> <!-- Change button to link -->
      </div>
    </div>
  </div>
  