<div class="home-container">
    <img
        src="https://s3-alpha-sig.figma.com/img/d761/c44f/321741d69c0a3f8dee89b594a0a71974?Expires=1729468800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=iF5i44V8yC9Ii32R18WB7X8gBrWToHLaCp2zZ5ixNQCstYq1veaTjhYEvERZFgaQfPDe-7p-M02meGJtyc6uolpjCCgAE0GrXC0TQhh3QCIHdiod-7~eDQwQFTW4PTc3DpMHvF8NgoQFA8zoFla0oAIULCQVZxez1Jf98Lj8ki188Dfe41cD6KYYNq8oHSHwYinCvWE0PKXtCyy2gOx4d0~SOmGWNQNhWQF2CUxVuTjAKKELOUu-hOsgiyuXGQZhYjkZRfVNdxcwlN6ucBHuxOoxzSDHzI53dgI-lICWwy4bf4gaJpk7qvR5QmMnucpiQd~8E0-Cl7MYrWLvZynfuQ__"
        alt="Welcome Image"
    />
    <h2>Welcome Digiflake Admin</h2>
</div>

